<%= form_for(@element) do |f| %>
  <%= render 'shared/error_messages', object: @element %>

  <%= f.label :series_name %>
  <%= f.select(:series_name, Element.select(:series_name).distinct.map(&:series_name), {prompt: "--- Select from previous series ---"}, class: "form-control") %>
    <div class="mb-4">
      <button type="button" class="btn btn-sm btn-outline-primary">or click here to create new series</button>
      <div id="new-series" class="mt-3" style="display:none;">
        <%= render 'add_series', f: f %>
      </div>
    </div>


  <%= f.label :element_name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.submit "Create Element", class: 'btn btn-success' %>
<% end %>
