<%= form_for(@new_element) do |f| %>
  <div class="form-row m-0" style="<%= display %>;" id="add-element-form">
    <div class="form-group col-md-3 m-0">
      <%= f.select :element_category_id, ElementCategory.all.collect {|p| [p.category_name, p.id]}, {prompt: "Category"}, class: 'form-control m-0' %>
    </div>
    <div class="form-group col-md-7 m-0">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group col-md-2 m-0">
      <%= f.submit submiter, class: 'btn btn-secondary' %>
    </div>

  </div>
<% end %>
