<% provide(:title, 'All elements') %>
<%= flash[:notice] %>
<%= render 'shared/error_messages', object: @new_element %>

<div class="container">
  <h1>Exercise Elements</h1>
  <div class="row">
    <div class="col-4 mt-2 mb-4">
      <div class="form-group">
        <%= form_with url: elements_path, method: 'get', local: true do |f| %>
                    <%= f.select(:series, Element.select(:series_name).distinct.map(&:series_name), {prompt: "No Filter"}, class: "form-control form-control-lg") %>
          <%= f.submit "Filter", class: "btn btn-secondary" %>
        <% end %>

      </div>
    </div>
  </div>
</div>




<%= will_paginate @element %>

<table class="table">
  <thead class="thead-dark">
    <th scope="col">Category</th>
    <th scope="col">Element</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </thead>
  <tbody>
    <tr>
      <td colspan="4">
        <span class="edit-link" id="add-element">Add Element</span>
        <%= render 'form', display: "display: none", submiter: "Create Element" %>
      </td>
    </tr>
    <%= render @elements %>
  </tbody>
</table>

<%= will_paginate @element %>
