

<div class="container my-5">
  <%= form_for(exercise) do |form| %>
    <%= render 'shared/error_messages', object: exercise %>

    <!-- Category selectors -->
    <table class="table table-card-style-primary all-edges-rounded">
      <thead class="thead-dark primary-color" >
        <tr>
          <th class="pl-5 top-edges-rounded"colspan="4">
            <h3>Select all applicable element themes</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <% exercise.category_element_association_count.each_slice(4) do |slice| %>
          <tr>
            <% slice.each do |category, amt| %>

              <% checked = amt > 0 %>

              <% if checked %>
                <% existing = true %>
                <% active = "active" %>
              <% else %>
                <% existing = false %>
                <%= active = "" %>
              <% end %>

              <td style="text-align: center;">
                <div class="btn-group-toggle d-inline element-picker" data-toggle="buttons">
                  <label id="<%= category %>" class="btn btn-outline-primary series-checkboxes resizer p-1 <%= active %>">
                    <%= check_box_tag :category, {checked: existing} %>
                    <span>
                      <%= category %>
                    </span>
                  </label>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <!-- Element Selectors -->
    <div class="card-columns">
      <% Element.category_list.each do |category| %>
      <div class="">
        <%= render 'element_boxes', form: form, category_name: category, exercise: exercise%>
      </div>
      <% end %>
    </div>

    <!-- Measurement Selectors -->
    <table class="table table-card-style-green">
      <thead class="thead-dark">
        <tr>
          <th colspan="<%= Exercise.booleans.count.to_s %>"> <h3>Exercise Measurements</h3> </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light">
          <% Exercise.booleans.each do |bool| %>
            <% checked = exercise.send(bool) == true %>

            <% if checked %>
              <% existing = true %>
              <% active = "active" %>
            <% else %>
              <% existing = false %>
              <%= active = "" %>
            <% end %>


            <td style="text-align: center;">
              <%= form.hidden_field bool, value: false %>
              <div class="btn-group-toggle d-inline" data-toggle="buttons">
                <label id="<%= bool %>" class="btn btn-outline-success series-checkboxes resizer p-1 <%= active %>">
                  <%= form.check_box bool, {checked: existing, include_hidden: false}, true, false %>
                    <%= Exercise.bool_humanize(bool)%>
                </label>
              </div>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= form.submit :Submit, class: "btn btn-primary" %>

  <% end %>
</div>
