
<h2 class="exercise-header">Exercise <%= @exercise.id %>: <%= @exercise.name %></h2>

<%= render 'form', exercise: @exercise %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>
