
<h2 class="exercise-header">Exercise <%= @exercise.id %>: <%= @exercise.full_name %></h2>
<%= render 'shared/error_messages', object: @exercise %>

<%= render 'form', exercise: @exercise %>

<%= link_to 'Show', @exercise %> |
<%= link_to 'Back', exercises_path %>

<!-- #DONE: Add dynamic title so you can see what exercise you're editing --> id:8
