<%= flash[:notice] %>
<h1>Exercises</h1>

<%= button_tag type: 'button', class: 'btn btn-secondary my-3' do %>
  <%= link_to 'Create new exercise', new_exercise_path %>
<% end %>

<!-- #TODO:30 Add search function -->

<%= will_paginate @exercises %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Exercise Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="3">
        <p class="edit-link" id="add-element">
          Quick add exercise
        </p>
        <%= render 'small_form', new_exercise: @new_exercise %>
      </td>
    </tr>
    <% @exercises.each do |exercise| %>
      <tr>
        <th scope="row"><%= exercise.full_name %></td>
        <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_exercise_path(exercise), class: "edit-link" %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, exercise, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @exercises %>

<br>
