<%= flash[:notice] %>
<h1>Exercises</h1>

<div class="my-5">
  <%= form_with url: exercises_path, method: 'get', local: true do |form| %>
    <%= render 'element_filter', form: form %>
    <div class="row">
      <div class="col-8">
        <%= form.submit "Filter", class: "btn btn-secondary" %>
      </div>
  </div>
  <% end %>
</div>

<%= will_paginate @exercises %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Exercise Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'Add new exercise', new_exercise_path %></td>
    </tr>
    <% @exercises.each do |exercise| %>
      <tr>
        <th scope="row"><%= exercise.full_name %></td>
        <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
        <td><%= link_to 'Delete', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @exercises %>

<br>
